GOOGLE_MAPS_API_KEY='GOOGLE_MAPS_API_KEY'

# auth
TOKEN_SECRET="this-is-a-secret-value-with-at-least-32-characters"
IRON_PASSWORD="this-is-a-secret-value-with-at-least-32-characters"

# db
MONGODB_URI='MONGODB_URI'
DBNAME='DBNAME'

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME='SMTP_USERNAME'
SMTP_PASSWORD=SMTP_PASSWORD
EMAIL_FROM='EMAIL_FROM'