@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .navbar-item {
    @apply relative list-none after:absolute after:left-0 after:bottom-0 after:h-0.5 after:w-full after:scale-0 after:bg-[#e53637] after:transition-all after:duration-500 after:content-[''] hover:after:scale-100 active:after:scale-100 after:border-2
  }

  .active {
    @apply after:scale-100
  }

  .product-select {
    @apply inline-block h-3 w-3 mb-0 mr-1.5 relative cursor-pointer rounded-full
  }

  .main-title {
    @apply text-4xl font-bold text-[#111]
  }

  .sub-title {
    @apply mb-6 text-sm font-bold uppercase tracking-widest text-[#e53637]
  }

  .shop-now {
    @apply letter-spacing py-1 text-sm font-bold uppercase text-[#111]
  }

  .container {
    @apply w-full px-3.5
  }
}

html, body {
  background: #fff !important;
  font-family: 'Nunito Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/* Makes the menu on mobile screens cover the whole screen */
.menu-container {
  height: 100vh;
}

/* Carousel css */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 28px !important;
  font-weight: bold;
  color: #000;
}

/* Hero Section Css */
.trailsText {
  will-change: transform, opacity;
  overflow: hidden;
}

.trailsText > div {
  overflow: hidden;
}

.letter-spacing {
  letter-spacing: 4px;
}

/* Product Section */
.active {
  color: #111111;
}

.product-list {
  will-change: transform, height, opacity;
  height: 260px !important;
}

.label {
  letter-spacing: 2px;
}

.product__item img {
  height: 260px;
}

.product__item:hover .product__hover {
  right: 20px;
	opacity: 1;
  visibility: visible;
}

.product__item:hover .add-cart {
  top: 6px;
  visibility: visible;
  opacity: 1;
  background: #fff;
  width: 100%;
}

.product__item:hover .product__color__select {
	opacity: 1;
}

.product__color__select label.active-select {
	border: 2px solid red;
  padding: 10px;
  transition: all 0.2s;
}

/* Blog Section */
.blog-text {
  padding: 30px 30px 25px;
  margin: -35px auto 0 auto;
}

.calendar {
  height: 16px;
  color: #3d3d3d;
}

@media only screen and (min-width: 479px) {
  .swiper-slide {
    height: 570px !important;
  }

  .swiper-slide .title {
    font-size: 48px;
    line-height: 58px;
  }
}

@media only screen and (max-width: 479px) {
  .swiper-slide .title {
    width: 90%;
  }
}

@media only screen and (max-width: 575px) {
  .products {
    height: 2570px;
  }
}

@media only screen and (min-width: 576px) {
  .header-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .product-list {
    transform: none !important;
    height: 100% !important;
    transition: all 0.25s;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 1rem;
    margin-bottom: 60px;
  }

  .date-time-container {
    justify-content: start !important;
  }

  .countdown {
    margin: 0 2rem !important;
  }

  .danger {
    margin-left: 0.5rem !important;
  }

  .blogs-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 1400px) {
  .title, .subtitle {
    width: 70%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .product__item {
    width: 240px;
  }
}

@media only screen and (min-width: 768px) {
  .product__item {
    width: 330px;
  }

  .hero-container {
    left: 10% !important;
  }

  .image-text {
    height: 440px;
  }

  .mobile-image {
    display: none;
  }
  
  .web-image {
    display: block;
  }

  .countdown {
    margin: 0 3rem !important;
  }

  .danger {
    margin-left: 0.5rem !important;
  }

  .blogs-container {
    grid-column-gap: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .swiper-slide {
    height: 510px !important;
  }

  .swiper-button-next {
    left: 30% !important;
  }

  .swiper-button-prev, .swiper-button-next {
    top: 91% !important;
  }

  .mobile-image {
    display: block;
  }
  
  .web-image {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .swiper-slide .subtitle {
    font-size: 16px !important;
  }

  .products {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .product__item {
    width: 210px;
  }

  .container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1024px) {
  .countdown {
    margin: 0 1.5rem !important;
  }

  .danger {
    margin-left: 0.5rem !important;
  }

  .blogs-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}